<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	<body>
		joey
		<div id="app">
			<v-app>
				<v-main>
					<!-- <v-container>Hello world</v-container> -->


					<!-- 					<template>
						<v-data-table :headers="headers" :items="desserts" :items-per-page="5" class="elevation-1">
						</v-data-table>
					</template> -->


					<template>
						<v-container fluid>
							<v-data-iterator :items="items" :items-per-page.sync="itemsPerPage" :page.sync="page"
								:search="search" :sort-by="sortBy.toLowerCase()" :sort-desc="sortDesc"
								hide-default-footer>
								<template v-slot:header>
									<v-toolbar dark color="blue darken-3" class="mb-1">
										<v-text-field v-model="search" clearable flat solo-inverted hide-details
											prepend-inner-icon="mdi-magnify" label="Search"></v-text-field>
										<template v-if="$vuetify.breakpoint.mdAndUp">
											<v-spacer></v-spacer>
											<v-select v-model="sortBy" flat solo-inverted hide-details :items="keys"
												prepend-inner-icon="mdi-magnify" label="Sort by"></v-select>
											<v-spacer></v-spacer>
											<v-btn-toggle v-model="sortDesc" mandatory>
												<v-btn large depressed color="blue" :value="false">
													<v-icon>mdi-arrow-up</v-icon>
												</v-btn>
												<v-btn large depressed color="blue" :value="true">
													<v-icon>mdi-arrow-down</v-icon>
												</v-btn>
											</v-btn-toggle>
										</template>
									</v-toolbar>
								</template>

								<template v-slot:default="props">
									<v-row>
										<v-col v-for="item in props.items" :key="item.name" cols="12" sm="6" md="4"
											lg="3">
											<v-card>
												<v-card-title class="subheading font-weight-bold">
													<!-- joey -->
													{{ item.name }}
												</v-card-title>

												<v-divider></v-divider>

												<v-list dense>
													<v-list-item v-for="(key, index) in filteredKeys" :key="index">
														<v-list-item-content :class="{ 'blue--text': sortBy === key }">
															<!-- joey -->
															{{ key }}:
														</v-list-item-content>
														<v-list-item-content class="align-end"
															:class="{ 'blue--text': sortBy === key }">
															{{ item[key.toLowerCase()] }}
														</v-list-item-content>
													</v-list-item>
												</v-list>
											</v-card>
										</v-col>
									</v-row>
								</template>

								<template v-slot:footer>
									<v-row class="mt-2" align="center" justify="center">
										<span class="grey--text">Items per page</span>
										<v-menu offset-y>
											<template v-slot:activator="{ on, attrs }">
												<v-btn dark text color="primary" class="ml-2" v-bind="attrs" v-on="on">
													{{ itemsPerPage }}
													<v-icon>mdi-chevron-down</v-icon>
												</v-btn>
											</template>
											<v-list>
												<v-list-item v-for="(number, index) in itemsPerPageArray" :key="index"
													@click="updateItemsPerPage(number)">
													<v-list-item-title>{{ number }}</v-list-item-title>
												</v-list-item>
											</v-list>
										</v-menu>

										<v-spacer></v-spacer>

										<span class="mr-4
					            grey--text">
											Page {{ page }} of {{ numberOfPages }}
										</span>
										<v-btn fab dark color="blue darken-3" class="mr-1" @click="formerPage">
											<v-icon>mdi-chevron-left</v-icon>
										</v-btn>
										<v-btn fab dark color="blue darken-3" class="ml-1" @click="nextPage">
											<v-icon>mdi-chevron-right</v-icon>
										</v-btn>
									</v-row>
								</template>
							</v-data-iterator>
						</v-container>
					</template>

				</v-main>
			</v-app>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify(),


				data() {
					return {
						itemsPerPageArray: [4, 8, 12],
						search: '',
						filter: {},
						sortDesc: false,
						page: 1,
						itemsPerPage: 4,
						sortBy: 'name',
						keys: [
							'Name',
							// items.[1],
							'Calories',
							'Fat',
							'Carbs',
							'Protein',
							'Sodium',
							'Calcium',
							'Iron',
						],

						// data: [] // Arr:[]
						items: []




						// items: [{
						// 		name: '溝通 技巧 - 業務',
						// 		calories: 159,
						// 		fat: '先想一下 聖收 delay 要如何講 ? 原則上 最慢 下星期五完成',
						// 		carbs: '第二級, 能脫離別人薪水控制的收入；',
						// 		protein: '"真的嗎 - 很驚訝 - 好棒棒"',
						// 		sodium: '* 家裡太冷了, 很難創作, read only. -- only read not create test (太晚 太累 - 睡不夠) ;; 夏天又太熱了 need macdonald.',
						// 		calcium: '14%',
						// 		iron: '1%',
						// 	},
						// 	{
						// 		name: 'Ice cream sandwich',
						// 		calories: 237,
						// 		fat: 9.0,
						// 		carbs: 37,
						// 		protein: 4.3,
						// 		sodium: 129,
						// 		calcium: '8%',
						// 		iron: '1%',
						// 	},
						// ],

					}
				},
				computed: {
					numberOfPages() {
						return Math.ceil(this.items.length / this.itemsPerPage)
					},
					filteredKeys() {
						return this.keys.filter(key => key !== 'Name')
					},
				},
				methods: {
					nextPage() {
						if (this.page + 1 <= this.numberOfPages) this.page += 1
					},
					formerPage() {
						if (this.page - 1 >= 1) this.page -= 1
					},
					updateItemsPerPage(number) {
						this.itemsPerPage = number
					},
				},

				mounted() {
					// console.log("mountedj");
					axios.
					get(
							// 'https://randomuser.me/api/?results=5'
							'https://sheets.googleapis.com/v4/spreadsheets/1EVEFyU56QLxzh4jzs4MPrRuXa3KAKkPFrZ80V6kKv9s/values/CAD104vue?alt=json&key=AIzaSyDQJnRmuvThGNBt3Z3SLRliA4crPBg6BX0'
						)
						.then(response => { // 使用箭頭函示 this 才不會跑掉
							console.log(response);
							// this.data = response.data.results;
							// Arr.value = response.data.results;
							// this.data = response.data.values
							this.items = response.data.values
							console.log(this.items);
							// console.log(this.items.[1]);
						
				   // Arr.value = response.data.values;

							this.show = true
						})

				}


			}) //new Vue
		</script>
	</body>
</html>
